
body {background-color: white; font-family: 'Times New Roman'; }
h1, h2, h3 {color: black !important; font-family: 'Times New Roman';}
p {
  font-size: 25px;
  color: black !important;
  line-height: 1.6;
}

hr {
  border: 1px solid #4444aa;
}

div.description {
  color: #000000;
  font-family: 'Times New Roman';
  padding: 20px;
}

div.stSlider > label {
  color: black !important;
  font-weight: bold;
} 
