
body {background-color: white; font-family: 'Times New Roman'; }
h1, h2, h3, p {color: black !important; font-family: 'Times New Roman';}
p {
  font-size: 25px;
  color: black !important;
  line-height: 1.6;
}

hr {
  border: 1px solid #4444aa;
}

div.description {
  color: #000000;
  font-family: 'Times New Roman';
  
}

div.stSlider > label {
  color: black !important;
  font-weight: bold;
} 

div[data-testid="stMarkdownContainer"], div[data-testid="stText"], span, p {
  color: black !important;
}

h1, h2, h3, p
div[data-testid="stMarkdownContainer"] h1,
div[data-testid="stMarkdownContainer"] h2,
div[data-testid="stMarkdownContainer"] h3,
div[data-testid="stHeader"] h1 {
  font-family: 'Times New Roman' !important;
  font-color: black !important;
}